body{
  font-size: 16px;
  color:  var(--mainTextColor);
  font-family: 'Noto Sans JP', sans-serif;
}
:root{
  --mainTextColor: #334B49;
  --subTextColor: #A7AFC8;
  --mainColor: #ffc400;
  --subColor: #D8EBE9;

}
li{
  list-style: none;
}
a{
  text-decoration: none ;
  color: var(--subTextColor);
}


.wrapper{
  max-width: 1000px;
  margin: 40px auto;
  margin-top: 80px;
  height: auto;
}
.content__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__title{
  font-size: 2.5rem;
  padding-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
}
.section__title span{
  color: var(--subTextColor);
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}


.header{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 47px;
  justify-content: center;
}
.header__menu{
  display: flex;
  align-items: flex-end; 
}
.header__menu--li{
  font-size: 1rem;
  width: 200px;
  text-align: center;
  color: var(--subTextColor);
  border-bottom: 2px solid var(--subTextColor);
  margin: 0 1px;

  transition:0.5s;
}
.header__menu--li a{
  display: block;
  transition:0.5s;
}
.header__menu--li:hover{
  border-bottom-color: var(--mainColor);
}
.header__menu--li a:hover{
  color: var(--mainColor);
}


#top{
  max-width: 1000px;
  margin: 40px auto;
  margin-top: -40px;
  height: auto;
}
.top__wrap{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__title{
  
}
.top__name{
  font-size: 6rem;
  line-height: 5.5rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--mainTextColor);
}
.top__sub{
  font-size: 1.5rem;
  color: var(--subTextColor);
  
}
.top__box{
  background-color: var(--subColor);
  max-width: 450px;
  aspect-ratio: 5/5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top__box--img{
  width: 95%;
  height: auto;
  object-fit: cover;
}
.top__arrow{
  text-align: center;
  
}
.top__arrow--a{
  border-top: 20px solid var(--subTextColor);
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  
}
.top__arrow--a:hover{
  transition:0.5s;
  border-top-color: var(--mainColor);
}





.works{

}
.works__wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.works__group{
  margin-bottom: 30px;
}
.works__box{
  background-color: var(--subColor);
  width: 485px;
  height: 349px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.works__box--img{
  width: 95%;
  height: 95%;
  object-fit: cover;
  overflow: hidden;
}
.works__content{
  color: var(--subTextColor);
  font-size: 0.875rem;
}
.works__desc{
  font-size: l.25rem;
  color: var(--mainTextColor);
}

.about{

}
.about__box{
  background-color: var(--subColor);
  width: 35%;
  max-width: 350px;
  aspect-ratio: 5/5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.about__box--img{
  width: 95%;
  height: auto;
  object-fit: cover;
  
}
.about__profile{
  width: 60%;
  max-width: 500px;
}
.about__profile__name{
  color: var(--mainTextColor);
  font-size: 1.25rem;
  position: relative;
  padding-bottom: 10px;
	
}
.about__profile__name:after{
  content: "";
	display: block;
	height: 2px;
	background: linear-gradient(to right, var(--subColor), transparent);
}
.about__profile__desc{
  color: var(--subTextColor);
  font-size: 0.875rem;
}

.backtopArrow{
  text-align: center;
  margin-bottom: -40px;
}

.backtopArrow--a{
  border-bottom: 20px solid var(--subTextColor);
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  
}
.backtopArrow__desc{
  display: block;
  font-size: 1.2rem;
  margin-top: 25px;
  color: var(--subTextColor);
}
.backtopArrow--a:hover{
  border-bottom-color: var(--mainColor);
}

.footer{
  margin-top: 100px;
  background-color: var(--subColor);
  height: auto;
}
.footer__copy{
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
}

/*page
--------------------------------------------------------------------------*/
.page-img{
  width: 100%;
}
.page-img img{
  width: 100%;
  object-fit: cover;
}
.infomation div{
  display: flex;
}
.infomation p{
  margin-top: 1rem;
}
.infomation-img{
  max-width: 45%;
  margin-left: 1rem;
}
.infomation-img img{
  width: 100%;
}
.page-wrap{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

/*smartphonesize(max780px)*/
@media screen and (max-width: 780px) {

    /*common sp
  --------------------------------------------------------------------------*/
  .wrapper{
    max-width: 480px;
    margin: 40px auto;
    margin-top: 80px;
    height: auto;
  }
  .section__title{
    font-size: 2rem;
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  .section__title span{
    color: var(--subTextColor);
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
  }

  /*header sp
  --------------------------------------------------------------------------*/
  .header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 47px;
    justify-content: center;
  }
  .header__menu{
    display: flex;
    align-items: flex-end; 
  }
  .header__menu--li{
    font-size: 1.5rem;
    width: 100px;
    text-align: center;
    color: var(--subTextColor);
    border-bottom: 2px solid var(--subTextColor);
    margin: 0 1px;
  
    transition:0.5s;
  }
  .header__menu--li a{
    display: block;
    transition:0.5s;
  }
  .header__menu--li:hover{
    border-bottom-color: var(--mainColor);
  }
  .header__menu--li a:hover{
    color: var(--mainColor);
  }

  /*top sp
  --------------------------------------------------------------------------*/
  .top{
    height: 100vh;
    margin: 40px auto;
    margin-top: -20px;
    
    
  }
  .top__wrap{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .top__name{
    font-size: 3rem;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    color: var(--mainTextColor);
  }
  .top__sub{
    font-size: 1.5rem;
    color: var(--subTextColor);
    
  }

  /*works sp
  --------------------------------------------------------------------------*/
  .works{
  }
  .works__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .works__group{
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .works__box{
    background-color: var(--subColor);
    width: 355px;
    height: 219px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .works__box--img{
    width: 95%;
    height: 95%;
    object-fit: cover;
    overflow: hidden;
  }
  .works__content{
    color: var(--subTextColor);
    font-size: 0.875rem;
  }
  .works__desc{
    font-size: l.25rem;
  }

  /*about sp
  --------------------------------------------------------------------------*/
  .about{

  }
  .content__wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .about__box{
    background-color: var(--subColor);
    width: 35%;
    max-width: 350px;
    aspect-ratio: 5/5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .about__box--img{
    width: 95%;
    height: auto;
    object-fit: cover;
    
  }
  .about__profile{
    width: 60%;
    max-width: 500px;
  }
  .about__profile__name{
    color: var(--mainTextColor);
    font-size: 1.1rem;
    position: relative;
    padding-bottom: 10px;
    
  }
  .about__profile__name:after{
    content: "";
    display: block;
    height: 2px;
    background: linear-gradient(to right, var(--subColor), transparent);
  }
  .about__profile__desc{
    color: var(--subTextColor);
    font-size: 0.8rem;
  
  }
}
